
:root {
  --page-margin-left: 5vw;
  --nav-bar-height: 60px;
}

body, html {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

h1 {
  font-size: 4em;
  margin: 0px;
}

h2 {
  font-size: 3em;
  margin: 0px;
}

h3 {
  font-size: 2em;
  margin: 0px;
}

h4 {
  font-size: 1.2em;
  margin: 8px 0px;
}

.logo {
  font-family: "The Girl Next Door";
}
